[dse:children]
dse_dc1
dse_dc2

[dse_dc1]
<dc1_node1_public_ip_address> private_ip=<dc1_node1_private_ip_address> seed=true dc=DC1 rack=RAC1 vnode=1 initial_token=
<dc1_node2_public_ip_address> private_ip=<dc1_node1_private_ip_address> seed=true dc=DC1 rack=RAC1 vnode=1 initial_token=
<dc1_node3_public_ip_address> private_ip=<dc1_node3_private_ip_address> seed=true dc=DC1 rack=RAC1 vnode=1 initial_token=

[dse_dc2]
<dc2_node1_public_ip_address> private_ip=<dc2_node1_private_ip_address> seed=true dc=DC1 rack=RAC1 vnode=1 initial_token=
<dc2_node2_public_ip_address> private_ip=<dc2_node2_private_ip_address> seed=true dc=DC1 rack=RAC1 vnode=1 initial_token=
<dc2_node3_public_ip_address> private_ip=<dc2_node3_private_ip_address> seed=true dc=DC1 rack=RAC1 vnode=1 initial_token=

[dse_dc1:vars]
solr_enabled=0
spark_enabled=0
graph_enabled=0
auto_bootstrap=1

[dse_dc2:vars]
solr_enabled=1
spark_enabled=1
graph_enabled=1
auto_bootstrap=1
